<table>
  <tbody>
    <div class="w3-main" style="margin-left:200px; margin-right:50px">
      <div class="w3-row w3-padding-64">
        <div class="w3-half w3-container">
          <h1 class="w3-text-teal">Title (Platform)</h1>
        </div>
        <div class="w3-quarter w3-container">
          <h1 class="w3-text-teal">Release date</h1>
        </div>
        <div class="w3-quarter w3-container">
          <h1 class="w3-text-teal">Score on metacritic.com</h1>
        </div>
      </div>