<!DOCTYPE html>
<html lang="en">
<title>Meta</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 43px;
  bottom: 0;
  height: inherit;
}
</style>
<body>
<%= yield %>
<!-- Navbar -->
<div class="w3-top">
 <div class="w3-bar w3-theme">
  <a href="/" class="w3-bar-item w3-button">Home</a>
  <div class="w3-dropdown-hover">
    <a href="?filter=top100" class="w3-button">TOP100</a>
    <div class="w3-dropdown-content w3-bar-block w3-card-4">
      <a href="?filter=top100&platform=PC" class="w3-bar-item w3-button">PC</a>
      <a href="?filter=top100&platform=PlayStation" class="w3-bar-item w3-button">PlayStation</a>
      <a href="?filter=top100&platform=PlayStation 2" class="w3-bar-item w3-button">PlayStation 2</a>
      <a href="?filter=top100&platform=PlayStation 3" class="w3-bar-item w3-button">PlayStation 3</a>
      <a href="?filter=top100&platform=PlayStation 4" class="w3-bar-item w3-button">PlayStation 4</a>
      <a href="?filter=top100&platform=PlayStation Vita" class="w3-bar-item w3-button">PlayStation Vita</a>
      <a href="?filter=top100&platform=PSP" class="w3-bar-item w3-button">PSP</a>
      <a href="?filter=top100&platform=Xbox" class="w3-bar-item w3-button">Xbox</a>
      <a href="?filter=top100&platform=Xbox 360" class="w3-bar-item w3-button">Xbox 360</a>
      <a href="?filter=top100&platform=Xbox One" class="w3-bar-item w3-button">Xbox One</a>
      <a href="?filter=top100&platform=Switch" class="w3-bar-item w3-button">Switch</a>
      <a href="?filter=top100&platform=Wii" class="w3-bar-item w3-button">Wii</a>
      <a href="?filter=top100&platform=Wii U" class="w3-bar-item w3-button">Wii U</a>
      <a href="?filter=top100&platform=3DS" class="w3-bar-item w3-button">3DS</a>
      <a href="?filter=top100&platform=Dreamcast" class="w3-bar-item w3-button">Dreamcast</a>
      <a href="?filter=top100&platform=DS" class="w3-bar-item w3-button">DS</a>
      <a href="?filter=top100&platform=GameCube" class="w3-bar-item w3-button">GameCube</a>
      <a href="?filter=top100&platform=Nintendo 64" class="w3-bar-item w3-button">Nintendo 64</a>
      <a href="?filter=top100&platform=Game Boy Advance" class="w3-bar-item w3-button">Game Boy Advance</a>
    </div>
  </div>
  <div class="w3-dropdown-hover">
    <a class="w3-button">Best in Genre</a>
    <div class="w3-dropdown-content w3-bar-block w3-card-4">
      <a href="?filter=genre&genre=Action" class="w3-bar-item w3-button">Action</a>
      <a href="?filter=genre&genre=Adventure" class="w3-bar-item w3-button">Adventure</a>
      <a href="?filter=genre&genre=Role-playing" class="w3-bar-item w3-button">Role-playing</a>
      <a href="?filter=genre&genre=Simulation" class="w3-bar-item w3-button">Simulation</a>
      <a href="?filter=genre&genre=Strategy" class="w3-bar-item w3-button">Strategy</a>
      <a href="?filter=genre&genre=Sports" class="w3-bar-item w3-button">Sports</a>
    </div>
  
  
  
  </div>
  <form>
    <input type="search" name="text" class="w3-bar-item w3-input w3-grey w3-mobile" placeholder="Search by title...">
    <input type="submit" class="w3-bar-item w3-button w3-theme w3-mobile" value="Go">
  </form>
 </div>
 
</div>

<footer id="myFooter">
  <div class="w3-container w3-theme-l2 w3-padding-32">
    <h4>All information taken from <a href='https://www.metacritic.com/'>metacritic.com</a></h4>
  </div>
</footer>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>
</body>
</html>
